@import "../defaultImports.module.scss";

.products{
    display:grid;
    column-gap:10px;
    row-gap:15px;
}

.noImgProduct{
    .productText{
       grid-column:1/-1;
    }

    .productDescription{
        margin-top:10px;
    }
         
}

.product{
    display:grid;
    grid-template-columns: 1fr 35%;
    grid-row-gap:10px;
    border-radius:4px;
    min-height:130px;
    font-size:1rem;
    overflow:hidden;
    background:$product-card-bg;
    position:relative;
}

.productText{
    padding:1rem;
}


.productDescription{
    margin:0;
    font-size:14px;
}
.productTitle{
    margin:0;
    font-weight:600;
}

.productPrice{
    margin:0;
    text-align:right;
    font-weight:500;
    position:absolute;
    right:10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    z-index: 5;
}

.productImgContainer{
    position:relative;
}

.productImgOverlay{
    background: #ffffff17;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.productImg{
    @include square(100%);
}

@include mq($break: '700px',$custom:true){
    .products{
        grid-template-columns:repeat(2, 1fr);
    }

    .product{
        grid-template-columns: 5fr 3fr;
    }
}

@include mq('large'){
    .products{
        grid-template-columns:repeat(auto-fit, 350px);
    }
}