@import "../defaultImports.module.scss";


    .ProductModal{
        position:fixed;
        width:90%;
        margin-left:-45%;
        left:50%;
        top:10vh;
        z-index:100;
        max-height:80vh;
        background:$product-modal-bg;
        border-radius:6px;
        overflow:scroll;
    }
 
     .Header{
        background:$color-theme-primary;
        color:white;   
         position:relative;
         min-height: 150px;
         padding:55px 1rem;
     }
 
     .HeaderTitle{
         margin:0;
         margin-bottom:10px;
         color:white;
     }

     .ProductPrice{
         font-size:pix-to-rem(20px);
     }
 
     .CloseModal{
        @include position($p: absolute, $top:10px, $left:10px, $zIndex: 10);
         font-size:30px;
         color:$color-theme-tertiary;

     }
 

     .ProductExtraCost{
         margin-left:3px;
     }
     .Main{
         padding:1rem;
     }

     .ProductDescription{
 
        margin:15px 0 20px;
        color:white;
    }
 
     .CategoriesListTitle,
     .SideOrdersTitle{
        margin:0 0 5px;
        color:white;
     }

     .CategoryListItem,
     .SideOrderItem{
        display:inline-block;
        padding: 3px 10px;
        border-radius:3px;
        margin-right:6px;
        margin-bottom:5px;
        font-weight:400;
     }

     .SideOrders,
     .CategoriesList{
         padding-left:0;
         list-style:none;
         margin:0;
         display:flex;
         flex-wrap:wrap;
         margin-bottom:20px;
     }
 
     .SideOrderItem{
         background:white;
         color:black;   
     }
 
     .CategoryListItem{
        background:$color-theme-tertiary;
        color:white;
     }


 
    @include mq('med'){
        .ProductModal{
            width:60vw;
            margin-left:-30vw;
        }

        .ProductPrice{
            font-size:pix-to-rem(25px);
        }

        .Header{
            padding-bottom:30px;
        }
    }

    @include mq('med'){
        .ProductModal{
            max-width:600px;
            margin-left:-300px;
            
        }
    }