.page-home{
    .section__intro,
    .section__popular-menu{
      @include sectionPadding;
    }

   .jumbotron{
        height:50vh;
        display:flex;
        align-items:center;
        background:$jumbotron-bg;
        color:$jumbotron-color;
    }

    .jumbotron__btns{
        display:grid;
        grid-row-gap:10px;
    }

    .jumbotron__btn{
        @include btn($size:'md',$bgColor:$color-theme-secondary);
    }
    
    .section__intro{
      background: #f7f7f7;
      color: black;
    }

    .popular-menu__title{
      margin-bottom:40px;
    }
    

    .popular-menu__link{
      margin-top:30px;
      display:inline-block;
      @include btn($size:'lg');
    }
  
    //Both contact and order section similar styles
    .section__contact,
    .section__order{
      padding:80px 40px;
      @include flex($dir: column, $align:flex-start);
    }

    .contact-link__btn,
    .order-link__btn{
      @include btn($size:'md');
      margin-top:30px;
    }


    //Individual contact section styles
    .section__contact{
      background:$color-theme-primary;
      color:white;
    }

    .section__contact-title{
      color:white;
    }

   
    .contact-link__btn{
      color:$color-theme-primary;
      background:white;
    }

    .section__order{
      background:$color-theme-secondary;
      color:white;
    }
    .section__order-title{
      color: white;
    }

    .order-link__btn{
      background:white;
      color:$color-theme-secondary;
    }

  
    //Business Information
    .business-info__title{
      margin-bottom:50px;
    }

    .business-info__hours-title{
      margin-bottom:8px;
    }
    
    .restaurant-image__container{
      @include scalableImg($height:60%,$brdr-radius: 3px);
    }

  
  

    .business-info__details{
      margin: 40px 0;
    }

    .business-info__label{
      color:$color-theme-tertiary;
    }

    .business-hours__label{
      color:$color-theme-tertiary;
      font-weight:500;
    }


  @include mq('med'){

    .jumbotron{
      height:55vh;
    }
    .jumbotron__btns{
      display:inline-grid;
      grid-auto-flow: column;
      grid-column-gap:10px;
    }

    .contact-order-group{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .main__business-info{
      display: grid;
      grid-template-columns: 1fr 30vw;
      align-items: flex-start;
      grid-gap: 5%;
    }

    .restaurant-image__container{
      order:2;
    }


    .business-info__details{
      margin:0 0 50px 0;
    }

    .section__contact,
    .section__order{
      padding:15vh 0 15vh 10vw;
    }
  
  }

  @include mq('large'){

    .jumbotron{
      height:65vh;
    }
    .contact-order-group{
      grid-template-columns:2fr 3fr;
    }

  
  }

 
}