.menu-container{
    padding:50px 1rem 0;

}

.menu-nav{
    background:rgb(189, 189, 189);
    color:black;
    @include position($p:fixed,$left:0,$top:0,$zIndex:10);
    width:100%;
    overflow:scroll;
}

.menu-nav__item{
    display:inline-block;
    padding:10px 30px;
    font-weight:400;
    &:hover{
        color:white;
    }

    &:last-of-type{
        padding-right:100px;
    }
}

.menu-nav__content-container{
    @include flex();
}

@include mq('med'){

    .menu-container{
        padding:0;
    }

    .menu-page-title{
        margin:0;
    }
    .menu-container{
        padding:0;
        padding-top:80px;
        margin:0 auto;
        width:90%;
    }

    .menu-nav{
        top:$navbar-height;
    }

    .menu-nav__item{
        display:inline-block;
        padding:10px 40px;
    }
}

@include mq('large'){
    .menu-container{
        width:85%;
    }
}